<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
	lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- bootstrap -->
<link rel="stylesheet"
	th:href="@{/bootstrap/5.3.1/css/bootstrap.min.css}" />
<script th:src="@{/bootstrap/5.3.1/js/bootstrap.min.js}" charset="UTF-8"></script>

</head>
<body>
<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">
		<div class="content_sect_pnl">
		
		<!-- Page Header Start -->
	   <!--  <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s" >
	        <div class="container">
	            <h1 class="display-3 mb-3 animated slideInDown">회원관리</h1>
	            <nav aria-label="breadcrumb animated slideInDown">
	                <ol class="breadcrumb mb-0">
	                    <li class="breadcrumb-item text-dark active" aria-current="page">관리자</li>
	                </ol>
	            </nav>
	        </div>
	    </div> -->
			확인확인
		</div>
	</div>
</body>
</html>