<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}" lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>레시피 보기</title>

<!-- leee 0416 건강식 레시피 사진 누르면 상세 페이지 들어가도록 함. -->
<!-- leee 0416 DB 데이터 개행 안되는 문제 수정해야함... -->
<!-- leee 0416 aside로 옆에 메뉴 넣어야함.  -->
<!-- leee 0416 양념 재료 없을 때 해당 메뉴판 안보이게 할지 고민.  -->
<!-- leee 0416 grid box5만 따로 크기 조정하고싶다. -->

<style>
#reply_write_form {
 resize:none;
 height:5em;
 width:100%;
}

#wrapper{
	width:75%;
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
	grid-template-rows:repeat(4,250px);
	grid-gap:20px;
	grid-column-gap : 120px;
	grid-template-areas:
		"box5 box5"
		"box1 box2"
		"box1 box3"
		"box4 box4";
	margin: 2em auto;
}

.box1{
	/* background-color: aqua; */
	grid-area:box1;
}
.box2{
	/* background-color: pink; */
	grid-area:box2;
}
.box3{
	/* background-color: red; */
	grid-area:box3;
}
.box4{
	/* background-color: yellow; */
	grid-area:box4;
	margin-top: 60px;
}
.box5{
	/* background-color:aqua ; */
	grid-area:box5;
	height:160px;
	margin-top: 80px;
}
</style>

<!-- 0401 leee 수정완. 그러나 손봐야함. -->


<!-- bootstrap icons -->
<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css}">

<!-- 댓글 전송용  -->
<!-- AJAX library axios -->
<script th:src="@{'/axios/1.5.0/dist/axios.min.js'}"></script>

<!-- 코드 다량 발생 → 별도 파일화 -->
<script th:src="@{'/js/food_view.js'}"></script>

<!-- 댓글 제어 -->
<script>
/* window.onload = () => {
		
	// 개별글 로딩시 지금까지 집계된 댓글들 읽어오기
	let foodCode = '[[${food.foodCode}]]';
	
	// 전체 댓글 로딩(불러오기) : food_view.js 파일로 함수 분리
	// getAllReplies(foodCode);
	// 2024.3 : 댓글 수정 버튼의 댓글 영역 내로 이관된 조치에 따른 후속 조치(수정) : 인자 추가
	getAllReplies(foodCode, '[[${#authentication.name}]]');

	// 댓글 작성 함수 : food_view.js 파일로 함수 분리
 	writeReply(foodCode, '[[${#authentication.name}]]');
	
	// 댓글 수정 함수 : 2024.3 : 댓글 수정 버튼의 댓글 영역 내로 이관된 조치에 따른 후속 조치(수정)
	// updateReply(foodCode, '[[${#authentication.name}]]');
	
	// 댓글 삭제 함수 : 2024.3 : 댓글 삭제 버튼의 댓글 영역 내로 이관된 조치에 따른 후속 조치(수정)
	// deleteReplies(foodCode, '[[${#authentication.name}]]');
	
	// (원)글 삭제 함수
	deleteBoard(foodCode, '[[${#authentication.name}]]');
	
} // onload */
</script>
</head>
<body>

	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">

		<div class="content_sect_pnl">
			
			<!-- <div th:each="food : ${food}"> -->
			
				<div id="wrapper" th:each="food : ${food}"> 
					
					<div class="box box5"> 
						<span style="font-size: 2em;">
							<a th:text="${food.foodName}"></a> 
							레시피
						</span>
						<br>
						<br>
						<a th:text="${food.foodIntroduce}" style="font-size: 20px;"></a>
					</div>
					
					<div class="box box1"> 
						<img th:src="@{'/img/upload_image_we3/' + ${food.foodImg}}"
							 style="width: 100%; 
							 height: 100%; 
							 border-radius: 10px; "
							 alt="이미지 준비 중. ">
							 <!-- 스타일 위아래 100%로 주니까 grid안에 딱 맞춰짐. leee 0416 -->
						
						<!-- <img th:src="@{'/img/upload_image_we3/' + ${food.foodImg}}" 
							 style="width: 300px; 
							 height: 300px;" 
							 alt="이미지 준비 중. > -->
					</div>
					<div class="box box2"> 
						<span style="font-size:30px;">기본 재료</span>
						<hr style="border:0; height:10px; background: #83a68d;">
						<a th:text="${food.foodIngredientMainView}" 
						   style="font-size: 20px;"
						   id="ingredientView">
						</a>
					</div>
					<div class="box box3"> 
						<span style="font-size:30px;">양념 재료</span>
						<hr style="border:0; height:10px; background: #83a68d;">
						<a th:text="${food.foodIngredientSubView}" 
						   style="font-size: 20px;"
						   id="ingredientView">
						</a>
					</div>
					<div class="box box4"> 
						<span style="font-size:30px;">조리 방법</span>
						<hr style="border:0; height:10px; background: #83a68d;">
						<a th:text="${food.foodRecipe}" 
						   style="font-size: 20px;"
						   id="ingredientView">
						</a>
					</div>
				</div>
			<!-- </div> -->
			
			<!-- -------------------------------------------------------------------------- -->
			
			<!-- 원래 댓글 영역 -->
			
			<!-- -------------------------------------------------------------------------- -->

		</div>
		<!--// content -->

	</div>
	<!--// layout -->

<script>
$(document).ready(function() {
    // 줄바꿈이 필요한 단어들
    var wordsToBreak = ["분", "개", "간"];

 // 줄바꿈이 필요한 단어 뒤에 개행 추가하는 함수
    function addLineBreaks() {
        var ingredientView = document.getElementById("ingredientView");
        var text = ingredientView.textContent; // 요소의 텍스트 가져오기
        wordsToBreak.forEach(function(word) {
            text = text.split(word).join(word + "<br>");
        });
        ingredientView.innerHTML = text; // 처리된 텍스트를 다시 요소에 설정하기
    }

    // 페이지 로드 시 호출
    addLineBreaks();
});
</script>
</body>
</html>