<!DOCTYPE html>
<!-- thymeleaf dialect 적용 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
 	  lang="ko-kr"> 
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원 정보 조회</title>

<link rel="stylesheet" th:href="@{/bootstrap/5.3.1/css/bootstrap.min.css}" />
<script th:src="@{/bootstrap/5.3.1/js/bootstrap.min.js}" charset="UTF-8"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

<!-- 구글 폰트 0412 leee  -->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet"> -->

<link th:href="@{/css/member_join.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/aside.css}">
<link th:href="@{/img/favicon.ico}" rel="icon">
<style>
	.flex-container{
		display: flex;
	}

	/* clearfix */
/* 	#content-wrap:after {
		content: "";
		display: block;
		clear: both;
	} */
	
	/* article { */
		/* margin: 10px;
		padding: 25px; */
	/* 	background-color: white;
	} */
	
		
	/* #wrap { */
		/* margin-top = header height */
	/* 	margin-top: 100px;
	} */

	/* h1 { font-size: 1.8em; }
	h1, h2, h3, h4, h5, h6, p {
		margin: 10px 5px;
	} */
</style>

<!-- 아이디 자삭 선생님 코칭 khk -->
<script>
window.onload = function() {
	
    // 배경그림 변경
	let titleBg = document.querySelector(".page-header");
	//titleBg.style.backgroundColor = "red";
	titleBg.style.backgroundImage = "url('/healthyFoodProject/img/[[${bgImg == null ? "carousel-1.jpg" : bgImg }]]')";
	titleBg.style.backgroundPosition = "top right";
	titleBg.style.backgroundRepeat = "no-repeat"; 
}
	function chooseDelete() {
		
		if (confirm("삭제하시겠습니까?")) {
			
			alert("삭제!")
			location.href="delete.do"
			/* 수정해야함. 경로. 0430  */
			
		} else {
			
			alert("취소...")
			
		}
	}

</script> 

</head>
<body>

<!-- 
	leee
	0401 수정완. 그러나 손봐야함. 
	0402 여기 회원 기본 주소, 상세 주소 id 변경
		<div id="road_address_fld_pnl"> ==> memberAddress1_fld_pnl 
		<div id="detail_address_fld_pnl"> ==>  memberAddress2_fld_pnl
		회원 이미지, 등 더 추가해야 할 것 있음.. 일단 돌아가게 되면 추가하기로 .
	-->
<!-- layout -->
<div layout:fragment="content" class="main_sect_pnl">

<article style="width:100%;">
		
		<!-- Product Start -->
	    <div class="container-xxl py-2">
	        <div class="container">
	            <div class="row g-0 gx-5 align-items-end">
	                <div class="col-lg-6">
	                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px; ">
	                        <h1 class="display-6 mb-4"> 정보 조회 </h1>
	                    </div>
	                </div>
	            </div>


<!-- <div id="content-wrap"> -->
	<div class="flex-container">
	<div th:replace="member/member_aside :: aside"></div>
	<div class="content_sect_pnl flex-item" style="width:auto; float:right; margin: 0 auto; line-height: 200%">
	<section>
		<!-- 회원 정보 조회 -->

		<div id="form_content_pnl">
						<h2>회원 정보 조회</h2>
				
						<div id="form_content_box">
				
							<!-- 회원 아이디-->
							<div id="id_fld_pnl">
								<div class="fld_label">
									<label for="memberEmail">아이디</label>
								</div>
								<div class="fld_content" th:text="${memberDTO.memberEmail}"></div>
							</div>
							<!--// 회원 아이디-->
				
							<!-- 회원  이름-->
							<div id="name_fld_pnl">
								<div class="fld_label">
									<label for="memberName">이름</label>
								</div>
								<div class="fld_content" th:text="${memberDTO.memberName}"></div>
							</div>
							<!--// 회원 이름 -->
							
							<!-- 회원  이름-->
							<div id="nick_fld_pnl">
								<div class="fld_label">
									<label for="memberNick">닉네임</label>
								</div>
								<div class="fld_content" th:text="${memberDTO.memberNick}"></div>
							</div>
							<!--// 회원 이름 -->
		
							<!-- 회원  연락처(휴대폰) -->
							<div id="mobile_fld_pnl">
								<div class="fld_label">
									<label for="memberMobile">휴대폰</label>
								</div>
								<div class="fld_content" th:text="${memberDTO.memberMobile}"></div>
							</div>
							<!--// 회원 연락처(휴대폰) -->
		
							<!-- 회원  우편번호 -->
							<div id="zip_fld_pnl">
								<div class="fld_label">
									<label for="memberZip">우편번호</label>
								</div>
								<div class="fld_content" th:text="${memberDTO.memberZip}"></div>
							</div>
							<!--// 회원 우편번호 -->
				
							<!-- 회원  기본 주소 -->
							<div id="memberAddress1_fld_pnl">
								<div class="fld_label">
									<label for="memberAddress1">도로명 주소</label>
								</div>
								<div class="fld_content" th:text="${memberDTO.memberAddress1}"></div>
							</div>
							
							<!-- 회원 상세 주소 -->
							<div id="memberAddress2_fld_pnl">
								<div class="fld_label">
									<label for="memberAddress2">상세주소</label>
								</div>
								<div class="fld_content" th:text="${memberDTO.memberAddress2}"></div>
							</div>
							<!--// 회원 상세주소 -->
				
							<!-- 회원  생일 -->
							<div id="birthday_fld_pnl">
								<div class="fld_label">
									<label>생일</label>
								</div>
								<div class="fld_content"
									th:text="${#dates.format(memberDTO.memberBirth, 'yyyy년 MM월 dd일')}"></div>
							</div>
				
							<!-- 가입일 -->
							<div id="joindate_fld_pnl">
								<div class="fld_label">
									<label>가입일</label>
								</div>
								<div class="fld_content"
									th:text="${#dates.format(memberDTO.memberDate, 'yyyy년 MM월 dd일 HH:mm:ss')}"></div>
							</div>
							<!--// 가입일 -->
							
							<!-- 회원 체질 -->
							<div id="sasang_fld_pnl">
								<div class="fld_label">
									<label for="memberSasang">회원 체질</label>
								</div>
								<div class="fld_content" th:text="${memberDTO.memberSasang}"></div>
							</div>
							<!--// 회원 체질 -->
				
						</div> <!--// id="form_content_box" -->
					
						</div><!--// id="form_content_pnl" -->
			</section>
		
		</div>
		</div>
		</div>
		</div>
		</article>
		<!-- Back to Top -->
   			<a href="#" class="btn btn-lg btn-success btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
			
			<script th:src="@{/lib/wow/wow.min.js}"></script>
		    <script th:src="@{/lib/easing/easing.min.js}"></script>
		    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
		    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

		    <!-- Template Javascript -->
		    <script th:src="@{/js/main.js}"></script>					
		</div>
		<!--// layout -->
					<!--// 회원 정보 조회 -->
				
	
<!-- </div> --><!--// content-wrap -->

</body>
</html>