<!DOCTYPE html>
<!-- thymeleaf dialect 적용 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
 	  lang="ko-kr"> 
<head>

<link rel="stylesheet" th:href="@{/bootstrap/5.3.1/css/bootstrap.min.css}" />
<script th:src="@{/bootstrap/5.3.1/js/bootstrap.min.js}" charset="UTF-8"></script>

<!-- 
	leee
	0401 수정완. 그러나 손봐야함. 
	     회원 이미지 기본 이미지 설정해놓기,, 등..
	0402 <div id="road_address_fld_pnl"> ==> memberAddress1_fld_pnl 
		<div id="detail_address_fld_pnl"> ==>  memberAddress2_fld_pnl
		회원 이미지, 등 더 추가해야 할 것 있음.. 일단 돌아가게 되면 추가하기로 . 
	0402 11:22 생일 셀렉트 박스 수정. js를 스크립트로 추가함. 
-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link th:href="@{/css/member_join.css}" rel="stylesheet" />
    
    <!-- AJAX library axios -->
    <script th:src="@{'/axios/1.5.0/dist/axios.min.js'}"></script>

    <!-- 주소 검색 서비스 -->

    <!-- 1단계 : daum 우편번호 서비스 외장 JS(Javascript) 파일 링크 -->
    <!-- 주의사항) 주소 검색 서비스는 일반적으로 서버(가령 live 서버) 없이 
         실행시 오류가 발생할 수 있기 때문에 반드시 서버가 있는 상황에서 실행시키시기 바랍니다. -->
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

    <!-- 2단계 : 소스 코드 복사 
        // javateacher) 본 회원가입 코드에서는 도로명으로 선택하든 지번 주소로 선택하든
        // 일괄적으로 도로명으로 기본주소가 들어가도록 설정하였습니다. 추후 지번 주소와
        // 같이 송부하기 위해서는 아래의 코드를 약간 변경하여 지번주소가 들어갈 필드를 
        // 추가하시면 되겠습니다. -->
    <script th:src="@{'/js/member_join.js'}" charset="UTF-8"></script>
    
    <!-- 메시징 -->
    <script th:inline="javascript" th:if="${msg != null}">
		alert([[${msg}]]);
	</script>
	
	<!-- jQuery 0402 추가함 !! 생일 셀렉트 박스 사용위해서.-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<!-- jQuery 0402 추가함 !! 생일 셀렉트 박스 사용위해서.-->
	<script type="text/javascript">
		$(document).ready(function(){
			
	        var now = new Date();
	        var year = now.getFullYear();
	        var mon = (now.getMonth() + 1) > 9 ? ''+(now.getMonth() + 1) : '0'+(now.getMonth() + 1); 
	        var day = (now.getDate()) > 9 ? ''+(now.getDate()) : '0'+(now.getDate());  
	        
	        //년도 selectbox만들기               
	        for(var i = 1900 ; i <= year ; i++) {
	            $('#year').append('<option value="' + i + '">' + i + '년</option>');    
	        }
	        
	        // 월별 selectbox 만들기            
	        for(var i=1; i <= 12; i++) {
	            var mm = i > 9 ? i : "0"+i ;            
	            $('#month').append('<option value="' + mm + '">' + mm + '월</option>');    
	        }
	        
	        // 일별 selectbox 만들기
	        for(var i=1; i <= 31; i++) {
	            var dd = i > 9 ? i : "0"+i ;            
	            $('#day').append('<option value="' + dd + '">' + dd+ '일</option>');    
	        }
	        $("#year  > option[value="+year+"]").attr("selected", "true");        
	        $("#month  > option[value="+mon+"]").attr("selected", "true");    
	        $("#day  > option[value="+day+"]").attr("selected", "true");       
	        
	    })
	</script>
</head>
<body>

	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">
	
		<div class="content_sect_pnl">
		
		<!-- Page Header Start -->
	    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="height: 360px;">
	        <div class="container">
	            <h1 class="display-3 mb-3 animated slideInDown">회원가입</h1>
	            <nav aria-label="breadcrumb animated slideInDown">
	                <ol class="breadcrumb mb-0">
	                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
	                    <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
	                    <li class="breadcrumb-item text-dark active" aria-current="page">회원가입</li>
	                </ol>
	            </nav>
	        </div>
	    </div>
	
		<!-- Product Start -->
	    <div class="container-xxl py-2">
	        <div class="container">
	            <div class="row g-0 gx-5 align-items-end">
	                <div class="col-lg-6">
	                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px; ">
	                        <h1 class="display-6 mb-4"> 회원가입 </h1>
	                        <p> 로그인을 하시고 나의 체질맞춤 건강식을 추천받아보세요!</p>
	                    </div>
	                </div>
	            </div>
	
		    <!-- 회원 가입 -->
		    <div id="form_content_pnl">
		        
		        <h2>회원 가입</h2>
		    
		        <div id="form_content_box">
		
		            <form id="frm" th:action="@{'/member/joinProc.do'}" method="post" autocomplete="off" th:object="${memberDTO}">
		                    
		                <!-- 회원 아이디-->	
		                <div id="id_fld_pnl">	
		                    <div class="fld_label">
		                        <label for="memberEmail">아이디</label>
		                    </div>
		                    <div class="fld_content">
		                        <input type="text" id="memberEmail" name="memberEmail" maxlength="20" th:field="*{memberEmail}" />       
		                    </div>							
		                </div>	
		                
		                <!-- 회원 아이디 에러 메시징 -->
		                <div id="id_fld_err_pnl">
		                </div>
		                <!--// 회원 아이디-->
		                
		                <!-- 회원 패쓰워드 -->	
		                <div id="pw_fld_pnl">	
		                    <div class="fld_label">
		                        <label for="memberPw">패쓰워드</label>
		                    </div>
		                    <div class="fld_content">
		                        <!-- <input type="password" id="password" name="password" title="" /> -->
		                        <!-- 입력 필드값 확인 임시 조치, maxlength -->
		                        <input type="text" id="memberPw" name="memberPw" maxlength="20" th:field="*{memberPw}" />
		                    </div>
		                </div>
		                
		                <!-- 회원 패쓰워드 에러 메시징 -->
		                <div id="password_fld_err_pnl">
		                </div>
		                <!--// 회원 패쓰워드 -->
		                		
		                <!-- 회원  이름-->
		                <!-- 이름 용례 추가 -->	
		                <div id="name_fld_pnl">	
		                    <div class="fld_label">
		                        <label for="memberName">이름</label>
		                    </div>
		                    <div class="fld_content">
		                        <input type="text" id="memberName" name="memberName" th:field="*{memberName}" />&nbsp;
		                        ex) 홍 길동, 남궁 민수 (성과 이름을 띄워쓰십시오)
		                    </div>    
		                </div>
		            
		                <!-- 회원 이름 에러 메시징 -->
		                <div id="name_fld_err_pnl">
		                </div>
		                <!--// 회원 이름 -->
		                
		                <!-- 닉네임 중복 처리 할 건지. -->			
		                <!-- 회원 닉네임 -->	
		                <div id="nick_fld_pnl">	
		                    <div class="fld_label">
		                        <label for="memberNick">닉네임</label>
		                    </div>
		                    <div class="fld_content">
		                        <input type="text" id="memberNick" name="memberNick" maxlength="20" th:field="*{memberNick}" />       
		                    </div>							
		                </div>	
		                
		                <!-- 회원 닉네임 에러 메시징 -->
		                <div id="nickName_fld_err_pnl">
		                </div>
		                <!--// 회원 닉네임 -->					
		                 
		                <!-- 회원  연락처(휴대폰) -->	
		                <div id="mobile_fld_pnl">	
		                    <div class="fld_label">
		                        <label for="memberMobile">휴대폰</label>
		                    </div>
		                    <div class="fld_content">
		                        <input type="text" id="memberMobile" name="memberMobile" th:field="*{memberMobile}"/>
		                        ex) 01012345678 숫자를 붙여서 작성해주세요.
		                    </div>    
		                </div>                    
		                
		                <!-- 회원 연락처(휴대폰) 에러 메시징 -->
		                <div id="mobile_fld_err_pnl">
		                </div>
		                <!--// 회원 연락처(휴대폰) -->
		                
		                <!-- 회원 생일	 -->
		                <!-- 0402 leee 수정 완. select name을 memberDTO변수명과 동일하게 해야함.// 회원조회 완.   -->
		                <div id="birthday_fld_pnl">	
		                    <div class="fld_label">
		                        <label for="memberBirth">생일</label>
		                    </div>    
		                    <div class="fld_content">
		                        <!-- <input type="text" id="memberBirth" name="memberBirth" maxlength="10" /> -->
		                        <select name="memberYear" id="year"></select>년
								<select name="memberMonth" id="month"></select>월
								<select name="memberDay" id="day"></select>일
		                    </div>
		                </div>
		                
		                <!-- 회원 생일 에러 메시징 -->
		                <div id="birthday_fld_err_pnl">
		                </div>
		                <!-- // 회원 생일 -->

		                <!-- 회원  우편번호 -->	
		                <div id="zip_fld_pnl">	
		                    <div class="fld_label">
		                        <label for="memberZip">우편번호</label>
		                    </div>
		                    <div class="fld_content">
		                        <input type="text" id="memberZip" name="memberZip" style="width:100px;" readonly />
		                        
		                        <!-- 주소 검색 -->		
		                        <button type="button" id="address_search_btn" onclick="getPostcodeAddress()">주소 검색</button> 
		                        <!-- <button type="button" id="address_search_btn" onclick="alert('주소 검색 확인')">주소 검색</button> -->
		                        <button type="button" id="address_delete_btn">주소 삭제</button>
		                    </div>                    
		                </div>
		                <!--// 회원 우편번호 -->
		                    
		                <!-- 회원 기본 주소(도로명) -->	
		                <div id="memberAddress1_fld_pnl">	
		                    <div class="fld_label">
		                        <label for="memberAddress1">도로명 주소</label>
		                    </div>
		                    <div class="fld_content">
		                        <input type="text" id="memberAddress1" name="memberAddress1" style="width:500px" readonly th:field="*{memberAddress1}" />
		                    </div>
		                </div>

		                <!-- 회원 상세 주소 -->	
		                <div id="memberAddress2_fld_pnl">	
		                    <div class="fld_label">
		                        <label for="memberAddress2">상세주소</label>
		                    </div>    
		                    <div class="fld_content">
		                        <input type="text" id="memberAddress2" name="memberAddress2" style="width:400px" th:field="*{memberAddress2}" />
		                    </div>
		                </div>
		                
		                <!-- 회원 상세주소 에러 메시징 : 우편번호/기본주소 입력시 상세주소 미입력할 경우 -->
		                <div id="address_fld_err_pnl">
		                </div>
		                <!--// 회원 상세주소 -->
		                

		                <!-- 회원  가입/취소 버튼 -->	
		                <div id="buttons_fld_pnl">	
		                    <button id="submit_btn" type="submit">회원 가입</button>&nbsp;
		                    <button id="reset_btn" type="reset">취소</button>
		                </div>
		                <!--// 회원 가입/취소 버튼 -->
		            
		            </form>
		
		        </div>
		    
		    <!--// thymeleaf dialect -->    
		    </div>
		    </div>
		    </div>
		    <!-- content -->    
	        
	    </div>
	    <!--// 회원 가입 -->
    
    </div>
    <!--// layout -->
    
</body>
</html>