<!DOCTYPE html>
<!-- layout dialect -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
	  lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>관리자 화면</title>

<!-- bootstrap -->
<link rel="stylesheet" th:href="@{/bootstrap/5.3.1/css/bootstrap.min.css}" />
<script th:src="@{/bootstrap/5.3.1/js/bootstrap.min.js}" charset="UTF-8"></script>

<!-- bootstrap icons :  -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"> -->
<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css}">

<!-- AJAX library axios -->
<script th:src="@{'/axios/1.5.0/dist/axios.min.js'}"></script>

<!-- 관리자 모드 Javascript -->
<script th:src="@{'/js/admin_viewAll.js'}" charset="UTF-8"></script>
</head>
<body>
    <div><h2>모든 회원 정보와 내역이 삭제됩니다.</h2></div>
    <div>계속하시겠습니까?</div>

    <!-- 회원  정보 삭제/취소 버튼 -->	
    <div id="buttons_fld_pnl" th:if="${not #lists.isEmpty(members) && pageVO.listCount > 0}" th:each="member, st : ${members}"> 
        
       <button class="btn btn-sm btn-outline-success" th:id="${'delete_btn' + member.get('MEMBER_EMAIL')}">삭제</button>
        <button id="reset_btn" type="reset">뒤로</button>
    </div>
    <!--// 회원 정보 삭제/취소 버튼 -->
</body>
</html>