<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}" lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>qna 게시글 쓰기</title>

<!-- 밑에 두개를 달면 인잔현황이 안닫히지만 드롭다운은 잘 됨.  -->
<link rel="stylesheet" th:href="@{/bootstrap/5.3.1/css/bootstrap.min.css}" />
<script th:src="@{/bootstrap/5.3.1/js/bootstrap.min.js}" charset="UTF-8"></script>

<!-- summernote lite -->
<script th:src="@{/jquery/3.7.1/jquery.min.js}"></script>

<link th:href="@{/summernote/0.8.18/dist/summernote-lite.min.css}" rel="stylesheet">
<script th:src="@{/summernote/0.8.18/dist/summernote-lite.min.js}"></script>

<!-- summernote 한글 지원 관련 -->
<script th:src="@{/summernote/0.8.18/lang/summernote-ko-KR.js}"></script>

<script>
// summmernote 삽입 이미지 파일 업로드 전송
function sendFile(file, el) {

  // FormData 객체 
  // : https://developer.mozilla.org/ko/docs/Web/API/FormData
  let formData = new FormData();
  formData.append('file', file);
  
  // jQuery AJAX
  $.ajax({
	  
    data: formData,
    type: "POST", // 업로드시 필수사항
    url: '/healthyFoodProject/qna/image',
    // song 0412 경로 수정 healthyFoodProject->healthyFoodProject, image->image2->image(0418 song)
    cache: false,
    contentType: false,
    enctype: 'multipart/form-data', // 업로드시 필수사항 
    processData: false,
    
    success: function(url) {
    	
    	console.log("이미지 URL : ", url);
    
    	$(el).summernote('editor.insertImage', url);
    	
    } //
    
  });
  
}

$(function() {
	
	$('#qnaContentDiv').summernote(// 0416 song #boardContentDiv->#qnaContentDiv로 변경
			{
				placeholder : '글 내용을 작성하십시오',
				tabsize : 2,
				height : 300,
				toolbar : [ [ 'style', [ 'style' ] ],
						[ 'font', [ 'bold', 'underline', 'clear' ] ],
						[ 'color', [ 'color' ] ],
						[ 'para', [ 'ul', 'ol', 'paragraph' ] ],
						[ 'table', [ 'table' ] ],
						[ 'insert', [ 'link', 'picture', 'video' ] ],
						[ 'view', [ 'fullscreen', 'codeview', 'help' ] ] ]
				,lang : 'ko-kr',
				
				// 참고) 전송 방법
				// 참고로, 컨텐츠 내의 삽입 이미지들을 아래와 같이 파일 업로드 처리를 하지 않으면,
				// base64 알고리즘으로 암호화된 데이터 스트림(data stream) 형태로 전송됩니다.
				
				// - 컨텐츠 내부의 삽입 이미지들 업로드 API Guide
				// : https://summernote.org/deep-dive/#callbacks			
				
				// 참고) 콜백 함수(callback) 
			    // : https://developer.mozilla.org/ko/docs/Glossary/Callback_function
				callbacks : {
					
					// 참고) onImageUpload 이벤트(event)
					// : https://summernote.org/deep-dive/#onimageupload
					
					onImageUpload: function(files, editor, welEditable) {
						
						console.log("업로드할 이미지 파일들 : ", files.length);
						
		                for (var i = files.length - 1; i >= 0; i--) {
		              		sendFile(files[i], this);
		                } // for
		              
		            } // onImageUpload
					
				} //callbacks
			
			});
});

window.onload = function() {
	
	// 첨부 파일 삭제 기능 추가 : 2024.3
	let fileDeleteBtn = document.getElementById("fileDeleteBtn");	
	
	fileDeleteBtn.onclick = () => {
		
		alert("첨부 파일을 삭제합니다");
		let qnaFile = document.getElementById("qnaFile");
		qnaFile.value = "";
	} //	
	
	// TODO
	// case-2
	
	// 게시글 내용
	let qnaContentDiv= document.getElementById("qnaContentDiv");//0416 song board->qna
	let qnaContentHidden = document.getElementById("qnaContent");//0416 song board->qna
	let qnaForm = document.getElementById("qna_write_frm");//0416 song board->qna
	
	// 폼점검
	qnaForm.onsubmit = function(e) {//0416 song board->qna
		
		// summernote actual component : 썸머노트의 실제 글내용 컴포넌트
		// F12 → Elements 탭 메뉴 코너에서 확인할 수 있습니다.
		let summernoteActualContent = document.querySelector(".note-editable");
		
		let content = summernoteActualContent.innerHTML;
		
		// 주의) summernote
		// 비어 있는 초기 상태 :  "<p><br></p>"(초기)
		// 편집 후 공백 : ""(편집중 공백)
		// <p>&nbsp;</p>
		// "<p><br></p>", "<p>&nbsp; &nbsp;</p>" => 공백 치환
		
		content = content.replaceAll('<p><br></p>', '')
					     .replaceAll('&nbsp;', '')
					     .replaceAll('<p>', '')
					     .replaceAll('</p>', '')
					     .trim()
					     
	    // 실제 전송용 hiddedn 필드에 입력
		qnaContentHidden.value = content;   
		
		console.log("content : ", content.length);
		
		if (content.length == 0) {
		
			alert("게시글 내용을 입력하십시오.");
			summernoteActualContent.focus(); // 썸머노트의 실제 글내용 컴포넌트에 focus(입력 대기)
			
			// 전송 취소
			return false;
		} 
		// 파일 업로드 사이즈 체크 : 10MB 보다 큰지 점검
		let qnaFile = document.getElementById("qnaFile"); //0418 song board->qna

		//let uploadFileSize = boardFile.files[0].size;
		// 빈 파일일 경우
		let uploadFileSize = (qnaFile.value == "") ? 0 : qnaFile.files[0].size;

		const maxUploadFileSize = 10 * 1024 * 1024; // 10MB
		
		if (uploadFileSize > maxUploadFileSize) {
			
			alert("10 MB 보다 큰 파일은 올릴 수 없습니다.");
			qnaFile.value = ""; // 초기화  //0418 song board->qna
			qnaFile.focus(); // 재입력 대기//0418 song board->qna
			
			return false;
		} //
		
	} //
	
}
</script>
</head>
<body>

	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">

		<div class="content_sect_pnl">
		
		<!-- Product Start -->
	    <div class="container-xxl py-4">
	        <div class="container">
	            <div class="row g-0 gx-5 align-items-end">
	                <div class="col-lg-6">
	                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
	                        <h1 class="display-6 mb-4"> 다양한 레시피를 살펴보세요 </h1>
	                        <p>다양한 재료, 종류의 레시피로 오늘도 건강한 한끼 하세요!</p>
	                    </div>
	                </div>
	            </div>

			<form id="qna_write_frm" th:action="@{'/qna/writeProc.do'}" encType="multipart/form-data" method="post">

				<h2 class="d-flex justify-content-center"> 게시글 쓰기</h2>

				<table class="table mx-auto mt-4" style="width: 800px;">

					<tr>
						<th scope="col">작성자</th>
						<!-- 인증 회원이상 작성할 수 있으므로 작성자는 기본값 자동 완성/읽기전용 처리 -->
						<td><input type="text" class="form-control" id="memberEmail"
							name="memberEmail" th:value="${#authentication.name}" readonly /></td>
					</tr>
					<tr>
						<th scope="col">닉네임</th>
						<!-- 인증 회원이상 작성할 수 있으므로 작성자는 기본값 자동 완성/읽기전용 처리 -->
						<td><input type="text" class="form-control" id="memberNick"
							name="memberNick" th:value="${#authentication.principal.memberNick}" readonly /></td>
					</tr>


					<tr>
						<th scope="col">제목</th>
						<td><input type="text" class="form-control" id="qnaTitle"
							name="qnaTitle" required title="글제목을 입력하십시오" /></td>
					</tr>

					<tr>
						<th scope="col">내용</th>
						<td>							
							<div id="qnaContentDiv"></div>
							<!--0416 song input type에서 hidden->text로 변경->일단 hidden 유지  -->
							<input type="hidden" id="qnaContent" name="qnaContent" />
						</td>
					</tr>

					<tr>
						<th scope="col">첨부파일</th>
						<td>
							<!-- 첨부 파일 삭제 기능 추가 : 2024.3 -->
							<div class="row">
								<div class="col-10">
									<input class="form-control" type="file" id="qnaFile"
										name="qnaFile">
								</div>	
								<div class="col-2">
									<a href="#" class="btn btn-sm btn-primary mt-1" id="fileDeleteBtn">첨부 삭제</a>
								</div>
							</div>	
						</td>
					</tr>
					
					<tr>
						<th scope="col">잠금여부</th>
						<td>
							<!-- 첨부 파일 삭제 기능 추가 : 2024.4.29 song -->
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="qnaLockYesno" name="qnaLockYesno">
							</div>
						</td>
					</tr>
				</table>

				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-primary">전송</button>
					&nbsp;
					<button type="reset" class="btn btn-primary">취소</button>
				</div>

			</form>

		</div>
		</div>
		</div>
		<!--// content -->

	</div>
	<!--// layout -->
	
</body>
</html>