<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}" lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>qna게시글 보기</title>

<style>
#reply_write_form {
 resize:none;
 height:5em;
 width:100%;
}
</style>

<!-- bootstrap icons -->

<link rel="stylesheet" th:href="@{/bootstrap/5.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css}">
<script th:src="@{/bootstrap/5.3.1/js/bootstrap.min.js}" charset="UTF-8"></script>
<!-- 댓글 전송용  -->
<!-- AJAX library axios -->
<script th:src="@{'/axios/1.5.0/dist/axios.min.js'}"></script>

<!-- 코드 다량 발생 → 별도 파일화 -->
<script th:src="@{'/js/qna_view.js'}"></script> <!--주소 어떻게 써야할 지 잘 모르겠음 0418 qna_board->qna  --> 

<!-- 댓글 제어 -->
<script>
window.onload = () => {
	
    // 배경그림 변경
	let titleBg = document.querySelector(".page-header");
	//titleBg.style.backgroundColor = "red";
	titleBg.style.backgroundImage = "url('/healthyFoodProject/img/[[${bgImg == null ? "carousel-1.jpg" : bgImg }]]')";
	titleBg.style.backgroundPosition = "top right";
	titleBg.style.backgroundRepeat = "no-repeat"; 
		
	// 개별글 로딩시 지금까지 집계된 댓글들 읽어오기
	let qnaCode = '[[${qna.qnaCode}]]';
	
	// 전체 댓글 로딩(불러오기) : board_view.js 파일로 함수 분리
	// 2024.3 : 댓글 수정 버튼의 댓글 영역 내로 이관된 조치에 따른 후속 조치(수정) : 인자 추가
	getAllReplies(qnaCode, '[[${#authentication.name}]]');

	// 댓글 작성 함수 : board_view.js 파일로 함수 분리
	// 0422 song memberNick 추가 (필수 성분)  
 	writeReply(qnaCode, '[[${#authentication.name}]]','[[${#authentication.principal.memberNick}]]');
	
	// (원)글 삭제 함수
	deleteBoard(qnaCode, '[[${#authentication.name}]]');
	
} // onload
</script>
</head>
<body>

	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">

		<div class="content_sect_pnl">

			<h4 class="d-flex justify-content-center">1:1 게시글 보기</h4>

			<table class="table mx-auto mt-4" style="width: 800px;">
			
				<tr>
					<th scope="col" class="col-2">게시글 번호</th>
					<td th:text="${qna.qnaCode}" class="col-10"></td>
				</tr>
				
				<tr>
					<th scope="col">제목</th>
					<td th:utext="${qna.qnaTitle}"></td>
				</tr>
				
				<tr>
					<th scope="col">작성자</th>
					<td th:utext="${qna.memberEmail}"></td>
				</tr>

				<tr>
					<th scope="col">내용</th>
					<td>							
						<div id="qnaContentDiv" th:utext="${qna.qnaContent}" contenteditable="false"></div>
					</td>
				</tr> 

				<tr>
					<th scope="col">등록일</th>
					<td th:utext="${#dates.format(qna.qnaDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>
				
				<tr>
					<th scope="col">첨부파일</th>
					<td>
						<span th:if="${#strings.isEmpty(qna.qnaFile)}">첨부 파일 없음</span>
						<!-- boardFileOrigin로 변경(song-0415) -->
						<!-- <a th:href="@{'/qna/download/'+${qna.qnaFileOrigin}+'/'+${qna.qnaFile}}" 0423 /download로 변경 -->
						<a th:href="@{'/download/'+${qna.qnaOriginalFile}+'/'+${qna.qnaFile}}" 
						   th:if="${!#strings.isEmpty(qna.qnaOriginalFile)}" 
						   th:utext="${qna.qnaOriginalFile}"></a> 
					</td>
				</tr>
			</table>
			
			<!-- -------------------------------------------------------------------------- -->
			
			<!-- 댓글 -->
			
			<!-- 댓글 영역  -->
			<!-- <div id="reply_pnl" class="mx-auto my-3 border border-top border-primary-subtle" style="width: 800px;"> -->
			
			<div id="reply_pnl" class="mx-auto my-3" style="width: 800px;">
			 
				<!-- 개별 게시글 전체 댓글 리스트 -->
				<div id="reply_list_pnl" class="bg-light my-3">
				 	<!-- 댓글 리스트 --> 
				</div>
				 
				<!-- 댓글 등록/수정 -->
				<div id="reply_write_update_pnl" class="my-3">
				 
					<textarea id="reply_write_form" name="reply_write_form" 
							  class="form-control border border-primary"
							  placeholder="댓글을  100자이내로 작성하십시오"></textarea>
				   
				</div>
				 
				<!-- 댓글 메뉴 -->
				<!-- 정렬 교정 -->
				<div class="d-flex justify-content-end align-items-center my-2">
					
					<!-- 댓글 패쓰워드 -->
					<!-- 정렬 교정 -->
					<!-- <input type="text" th:id="${'qna_pass_' + qna.qnaCode}" 
						   th:name="${'qna_pass_' + qna.qnaCode}" required 
						   class="form-control form-control-sm h-100 w-25 me-2"> -->
					
					<!-- 댓글 메뉴 -->
					<a href="#" 
					   th:id="${'reply_write_btn_' + qna.qnaCode}" 
					   class="btn btn-sm btn-outline-primary my-2 me-2">댓글 등록</a>
					
				</div>	
			
			</div>
			<!--// 댓글 영역  -->
			
			<!-- -------------------------------------------------------------------------- -->
			
			<div class="d-flex justify-content-center mb-3"> <!-- 간격 조정 : 2024.3 -->
				<a type="button" class="btn btn-outline-success" th:href="@{/qna/list.do}">게시글 목록</a>
				&nbsp;

				
				<!-- 글수정 링크 추가 -->
				<!-- 글 작성자만 글수정/삭제하도록 조건 처리 -->
				<div sec:authorize="isAuthenticated()">
					<span th:if="${qna.memberEmail == #authentication.name}">
					
						<a type="button" class="btn btn-outline-success" 
							th:href="@{'/qna/update.do?qnaCode='+${qna.qnaCode}}">글수정</a>
							
						<!-- (원)글삭제 링크 추가 -->
						<a type="button" class="btn btn-outline-success ms-2" 
						    th:id="${'board_delete_btn_' + qna.qnaCode}"
							href="#">글삭제</a>
						
					</span>	
				</div>
				<!--// 글 작성자만 글수정/삭제하도록 조건 처리 -->	
			</div>
			
			<!-- Back to Top -->
   			<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
			
			<script th:src="@{/lib/wow/wow.min.js}"></script>
		    <script th:src="@{/lib/easing/easing.min.js}"></script>
		    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
		    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

		    <!-- Template Javascript -->
		    <script th:src="@{/js/main.js}"></script>

		</div>
		<!--// content -->

	</div>
	<!--// layout -->

</body>
</html>